*{
    box-sizing:border box;
    margin:0;
    max-width:100% ;
    /* border:1px solid grey; */
}

html{
    font-size:62.5%;
    margin: 4%;
    
}
body {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    width:45%;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    padding:2%;
}
.navBar {
    display:flex;
    /* background-color: red; */
}
#leftNav{
    width:50%;
    display:flex;
    /* background-color: red; */
}
.navBar nav{
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: yellowgreen; */
}
.navBar a{
    text-decoration: none;
    font-size: 2.3rem;
    color: black;
}

#rightNav{
    width:50%;
    display:flex;
    justify-content: flex-end;
    padding:1%;
}


.signIn{
    width:25%;
}

.signIn a{
    padding:1%;
}

.signIn button{
    width: 100%;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    background-color:black;
    padding:10%;
    border-radius: 65px;
    
}
.signIn button:hover{
    transition-duration: 0.4s;
    background-color: white;
    color:black;
}
#logIn{
    widows: 32px;
    margin:20px
}
#logIn button{
    width: 100%;
    border: none;
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 2.6rem;
    background-color: white;
}
#logIn button:hover{
    color:burlywood
}

.banner {
    height: 80vh;
    position: relative;
    text-align: center;
    color: white;
}
.motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 7rem;
    /* background-color: red; */
}
.banner img{
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    object-position: 30% 70%;
    margin-bottom: 5%;
}

.top, .middle, .bottom {
    height: 300px;
    display:flex;    
}

.photo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    justify-content: space-around;
    padding: 2%;
}
.photo h3{
    padding:2%;
    margin: 2%;
}
.sectionTitle {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size:5rem;
    padding: 1% 5% 0% 5%;
    border-top: 3px dashed grey;
}

img{
    width: 60%;
}


.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    text-align: center;
}
.bottom h3{
    font-size: 2.6rem;
    padding: 1%;  
}

footer {
    background-color:black;
    height: 20vh;
    width:100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
span{
    font-size: 5em;
    color:white;
    width:5%;
}
.social{
    display: flex;
    flex-flow: row;
    width:50%;
    justify-content: center;
    justify-content: space-around;
    padding:2% 2%;
}
/* about page */

.bioImg{
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 337px;
}
#teamBios{
    margin: 4%;
}
#teamBios h2{
    height: 80px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    text-align: center;
    padding:1%;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
}
#teamBios h3{
    height: 50px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1%
}
#teamBios h4{
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 1%;
}
.headshot{
    width: 50vw;
    display: flex;
    justify-content: center;
    width:20%;
}

#bioIndividualAri{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin:2% 0;
    padding:3%;
}
#bioIndividualChris{
    display:flex;
    justify-content: center;
    margin:2% 0;
}

#bioIndividualJonathan{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin:2% 0;
}
#bioIndividualCameron{
    display:flex;
    justify-content: center;
    margin:2% 0;
}
#bioIndividualTiffany{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin:2% 0;
}

#bioIndividualTim{
    display:flex;
    justify-content: center;
    margin:2% 0;
}


.nameInfo{
    width:30%;
    margin:3%
}

.bannerAbout {
    text-align: center;
    margin: 5%;
    padding:5%;
    background-color:black;

}
.mottoAbout {
    text-transform: uppercase;
    font-size: 4rem;
    color:white
}

/* Media Queries */

@media(max-width:500px){

    h1{
        text-align: center;
        width:95%;
    }
    nav {
        flex-direction:column;
        align-items: center;
    } 

    #leftNav{
        display: flex;
        flex-direction: column;
        width:90vw;
        align-items: center;

    }
    #rightNav{
        display: flex;
        flex-direction: column;
        width:100vw;
        align-items: center;
    }
    .navBar {
        flex-direction:column;
        height:50vh;
        width:90vw;
    } 
    .signIn{
        width:60vw;
    }

    .motto{
        font-size: 4rem;
        width:95%;
        position: absolute;
        top: 70%;
        left: 50%;
    }
    .sectionTitle {
        font-size: 3rem;
        display:flex;
        flex-direction: column;
    }
    .top, .middle, .bottom {
        justify-content: space-around;
        height:100vh;
    }
    .photo{
        display: flex;
        flex-direction: column-reverse;
    }
    .container{
        width:70vw;
        padding:2% 2%;
    }
    .main{
        display: flex;
        justify-content: center;
    }

    .banner {
        height: 80vh;
    }
    .banner img{
        height: 80vh;
    }

    footer {
        justify-content: space-around;
    }
    span{
        font-size: 3rem;
    }
    /* about page */
    
    #bioIndividualAri{
        flex-direction:column;
    }
    #bioIndividualChris{
        flex-direction:column;
    }
    #bioIndividualJonathan{
        flex-direction:column;
    }
    #bioIndividualTiffany{
        flex-direction:column;
    }
    #bioIndividualCameron{
        flex-direction:column;
    }
    #bioIndividualTim{
        flex-direction:column;
    }
    .nameInfo{
        width:100%;
        margin:3%
    }
    .headshot{
        width:100%;
    }

}

@media(max-width:800px){
    h1{
        text-align: center;
        width:95%;
    }
    nav {
        flex-direction:column;
        align-items: center;
    } 

    #leftNav{
        display: flex;
        flex-direction: column;
        width:90vw;
        align-items: center;

    }
    #rightNav{
        display: flex;
        flex-direction: column;
        width:100vw;
        align-items: center;
    }
    .navBar {
        flex-direction:column;
        height:50vh;
        width:90vw;
    } 
    .signIn{
        width:60vw;
    }
    .motto{
        font-size: 5rem;
        width:95%;
        position: absolute;
        top: 70%;
        left: 50%;
    }
    .sectionTitle {
        font-size: 4rem;
        display:flex;
        flex-direction: column;
    }
    .top, .middle, .bottom {
        flex-direction: column;
        justify-content: space-around;
        height:100vh;
    }
    .container{
        width:70vw;
        padding:2% 2%;
    }
    .main{
        display: flex;
        justify-content: center;
    }

    .banner {
        height: 70vh;
    }
    .banner img{
        height: 70vh;
    }
    .bottom{
        display: flex;
        justify-content: start;
        height: 40%;
    }
      /* about page */
    
      #bioIndividualAri{
        flex-direction:column;
    }
    #bioIndividualChris{
        flex-direction:column;
    }
    #bioIndividualJonathan{
        flex-direction:column;
    }
    #bioIndividualTiffany{
        flex-direction:column;
    }
    #bioIndividualCameron{
        flex-direction:column;
    }
    #bioIndividualTim{
        flex-direction:column;
    }
    .nameInfo{
        width:100%;
        margin:3%
    }
    .headshot{
        width:100%;
    }

}

@media(max-width:1700px){
    #leftNav{
        flex-direction: column;
    }
    h1{
    width:95%;
    }
    .navBar nav{
        width:95%;
    }
    .motto {
        width:95%;
        position: absolute;
            top: 70%;
            left: 50%;
    }
    .nameInfo{
        width:90%;
        margin:3%
    }
    .headshot{
        width:90%;
    }
}