*{
    box-sizing:border box;
    margin:0;
    max-width:100% ;
    /* border:1px solid grey; */
}

html{
    font-size:62.5%;
    margin: 4%;
}

body {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    width:45%;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    padding:2%;
}
.navBar {
    display:flex;

}
#leftNav{
    width:50%;
    display:flex;
}
.navBar nav{
    width: 50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1%;
}
.navBar a{
    text-decoration: none;
    font-size: 2.3rem;
    color: black;
}

#rightNav{
    width:50%;
    display:flex;
    justify-content: flex-end;
    padding:1%;
}

.signIn{
    width:40%;
    height:auto;
    display: flex;
    align-items: center;
}

.signIn a{
    padding:1%;
}

.signIn button{
    width: 100%;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    background-color:black;
    padding:10%;
    border-radius: 65px;
}

.signIn button:hover{
    transition-duration: 0.4s;
    background-color: white;
    color:black;
}
#logIn{
    widows:32px;
    margin:20px;
    display: flex;
    align-items: center;
}
#logIn button{
    width: 100%;
    border: none;
    color: black;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 2.6rem;
    background-color: white;
}
#logIn button:hover{
    color: silver
}

.banner {
    height: 80vh;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 2%;
}
.motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.banner img{
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    object-position: 30% 70%;
}

.top, .middle{
    height: auto;
    display:flex;    
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 2%;
}
.sectionText{
    padding:2%;
    margin: 2%;
    font-size: 2rem;
    text-align:center;
}
.sectionTitle{ 
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size:3rem;
    padding: 1% 5%;
    border-top: 3px dashed silver;
}

.bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
}
.bottom h3{
    padding: 1%; 
    margin:0; 
}

.individualTest img{
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
#testimonials{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.individualTest{
    border: 3px solid black;
    box-shadow: 5px 10px silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2%;
    margin:2%;
    width: 20%;
    height: auto;
}

.individualTest h3{
    margin:2%;
}

.individualTest:hover{
    box-shadow: 5px 10px black;
}

footer {
    background-color:black;
    height: 20vh;
    width:100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
span{
    font-size: 5em;
    color:white;
    width:5%;
}
.social{
    display: flex;
    flex-flow: row;
    width:50%;
    justify-content: center;
    justify-content: space-around;
    padding:2% 2%;
}
/* about page */

.bioImg{
    border-radius: 50%;
    object-fit: cover;
    width: 40vh;
    height: 40vh;
}
#teamBios{
    margin: 4%;
}
#teamBios h2{
    height: 80px;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    text-align: center;
    padding:6% 1% 2% 1%;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
    display: flex;
    justify-content: center;
    margin: 2%;
}
#teamBios h3{
    height: auto;
    width: auto;    
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1%
}
#teamBios h4{
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 1%;
}
.headshot{
    width: 50vw;
    display: flex;
    justify-content: center;
    width:20%;
}

.bioIndividual{
    display: flex;
    justify-content: center;
    margin:2% 0;
    padding: 2%;
    border: 3px solid black;
    box-shadow: 5px 10px silver;

}
.nameInfo h3{
    height:auto;
}

.bannerAbout {
    text-align: center;
    margin: 5%;
    padding:5%;

}
.mottoAbout {
    text-transform: uppercase;
    font-size: 4rem;
    color:black;
}

/* dashboard page */
.dashboard{
    display: flex;
    flex-wrap: wrap;
}
.photoEntry{
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:3%;
    margin: 3%;
    border: 1px dotted silver;
    box-shadow: 5px 10px silver;
}
.photoEntry:hover{
    box-shadow: 5px 10px black;
}
.photoEntry img{  
    height: 90%;
    width: auto;
    border: none;
}
.photoEntry h2{
    border:none;
    padding:2%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.photoEntry h3{
    border:none;
    padding:2%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/* Media Queries */

@media(max-width:500px){

    h1{
        text-align: center;
        width:95%;
    }
    .banner .motto {
        font-size: 3.5rem;
    }
    .navBar {
        flex-direction:column;
        align-items: center;
        height:80vh;
    } 
    #leftNav{
        display: flex;
        flex-direction: column;
        width:90vw;
        align-items: center;
    }
    #rightNav{
        display: flex;
        flex-direction: column;
        width:100vw;
        align-items: center;
    }
    .navBar {
        flex-direction:column;
        height:50vh;
        width:90vw;
    } 
    nav {
        flex-direction:column;
        align-items: center;
    } 
    .signIn{
        width:60vw;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top .photo{
        width: 80%;
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .middle .photo{
        width: 80%;
    }
    .container .sectionTitle{
        font-size: 3rem;
    }
    .container{
        width:70vw;
        padding:2% 2%;
        align-content: center;
        margin: 4% 0;
    }
    .containerTwo{
        display: flex;
        justify-content: center;
        margin:5%;
    }
    .containerTwo .sectionTitle{
        font-size: 3rem;
    }
    .banner img{
        height:95vh;
        
    }
    .banner {
        height:95vh;
    }
    footer {
        justify-content: space-around;
    }

   .individualTest{
       width:50%;
   }
    /* about page */
    
    .bioIndividual{
        flex-direction:column;
    }

    .headshot{
        width:100%;
    }
    /* dashboard page 500 */
    .dashboard{
        flex-direction: column;
        align-items: center;
    }
    .photoEntry{
        width:55vw;
        margin: 5%;
    }
}


@media(max-width:800px){
    h1{
        text-align: center;
        width:95%;
    }
  
    #leftNav{
        display: flex;
        flex-direction: column;
        width:auto;
        align-items: center;
    }

    #rightNav{
        display: flex;
        flex-direction: column;
        width:auto;
    }
    .navBar {
        flex-direction:column;
        height:auto;
        width:auto;
    } 
    #logIn{
        justify-content: center;
    }
    .signIn{
        width:100%;
        justify-content: center;
    }
    .banner .motto {
        font-size: 4rem;
    }
    .sectionTitle {
        font-size: 4rem;
        display:flex;
        flex-direction: column;
    }
    
    .container{
        width:70vw;
        padding:2% 2%;
    }
    .main{
        display: flex;
        justify-content: center;
    }
  
    .banner {
        height: 70vh;
    }
    .banner img{
        height: 70vh;
    }
    .bottom{
        display: flex;
        justify-content: start;
    }
      /* about page */
    
    .bioIndividual{
        flex-direction:column;
    }
    .nameInfo{
        width:100%;
        margin:3%;
    }
    .bioImg{
        height:40%;
        width:40%;
    }
    /* dashboard page 800 */
    .dashboard{
        justify-content: center;
    }
    
}

@media(max-width:1700px){
    #leftNav{
        flex-direction: column;
    }
    h1{
    width:95%;
    }
    .navBar nav{
        width:95%;
    }
    .motto {
        width:95%;
        position: absolute;
        top: 70%;
        left: 50%;
        font-size: 5rem;
    }
    .nameInfo{
        width:90%;
        margin:3%
    }
    .headshot{
        width:90%;
    }
    /* dashboard page 1700 */
    .dashboard{
        justify-content: center;
    }

}